* {
  box-sizing: border-box;
  --green: #90C825; 
  --border-color: #F0EBE5;
  --dark: #2D2C28;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: url("../images/log-background.svg") center / cover no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Карточка логина */
.login-card {
  width: 360px;
  background: white;
  border-radius: 12px;
  padding: 24px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.registration-card {
  width: 360px;
  background: white;
  border-radius: 12px;
  padding: 24px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* Заголовок */
.title {
  color: var(--green);
  margin-bottom: 12px;
}

/* Аватар */
.avatar img {
  width: 150px;
  margin-bottom: 16px;
}

/* Поля ввода */
input {
  width: 100%;
  padding: 10px 44px 10px 14px;
  margin-bottom: 12px;
  border-radius: 20px;
  border: 1px solid var(--border-color);
  outline: none;
  font-size: 14px;
}

input:focus {
  border-color: var(--green);
}

/* Поле пароля */
.password-field {
  position: relative;
}

/* Глазик */
.password-field .eye {
  position: absolute;
  right: 14px;
  top: 42%;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-field .eye img {
  width: 24px;
  height: 20px;
  opacity: 0.6;
}

.password-field .eye img:hover {
  opacity: 1;
}

/* Кнопка */
.login-btn {
  width: 100%;
  padding: 12px;
  background: var(--green);
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background: var(--green);
  opacity: 0.8;
}

.registration-btn {
  width: 80%;
  padding: 12px;
  margin-top: 20px;
  background: var(--green);
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.registration-btn:hover {
  background: var(--green);
  opacity: 0.8;
}

/* Текст */
.no-account {
  margin: 12px 0;
  font-size: 14px;
  color: #777;
}

/* Социальные кнопки */
.socials {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.socials img {
  width: 32px;
  height: auto;
  object-fit: contain;
  cursor: pointer;
  opacity: 0.8;
}


.socials img:hover {
  opacity: 1;
}

.link {
    color:var(--green);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-card {
  background: white;
  padding: 30px 50px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  transform: translateY(20px);
  transition: transform 0.3s ease;
  font-family: sans-serif;
}

.modal-overlay.active .modal-card {
  transform: translateY(0);
}

.icon-circle {
  width: 60px;
  height: 60px;
  background-color: var(--green);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px;
}

.icon-circle svg {
  width: 32px;
  height: 32px;
}

.modal-card h3 {
  margin: 0 0 10px;
  color: var(--dark);
}

.modal-card p {
  margin: 0;
  color: #666;
}
